* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

form {
    position: absolute;
    height: 300px;
    width: 300px;
    background-color: lightsalmon;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    top: 0;
    bottom: 0;
}

#content-container {
    display: flex;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 150px;
    background-color: antiquewhite;
}

.leader-container {
    margin: 10px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#instruction-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 700px;
    background-color: rgb(194, 233, 247);
    border-radius: 50px;
}

#img-container {
    position: relative;
    width: 800px;
    height: 500px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#tag-container {
    position: absolute;
    width: 90%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.tag {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 50%;
}

.clicked {
    height: 60px;
    width: 60px;
    border-radius: 30px;
    background-color: lightgreen;
    opacity: 90%;
    pointer-events: none;
}